<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>Bootstrap HTML5 Admin Template</title>
		<!-- Bootstrap Styles-->
		<link href="../../static/plugins/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../static/plugins/assets/css/font-awesome.css" rel="stylesheet" />
		<link href="../../static/plugins/assets/css/checkbox3.min.css" rel="stylesheet" >
		<!-- Custom Styles-->
		<link href="../../static/plugins/assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 教学质量管理系统</strong></a>
					<!--<div id="sideNav" href=""><i class="fa fa-bars icon"></i></div>-->
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<span style="color: gray;">20144206068 欧文惠 软件一班&nbsp;</span><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="info.html"><i class="fa fa-user fa-fw"></i> 用户信息</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="score.html"><i class="fa fa-dashboard"></i> 返回</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div class="header">
					<h1 class="page-header">Java 问卷调查</h1>
					<ol class="breadcrumb">
						<li>
							<a href="scores.html">scores</a>
						</li>
						<li>
							<a href="score.html">Java</a>
						</li>
						<li class="active">assessment</li>
					</ol>
				</div>
				<div id="page-inner">
					<div class="panel panel-default">
						
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">问卷调查</div>
                            </div>
                        </div>
						<style>
							.media p {
								padding-top: 0px;
							}
							
							.evaluate li.list-group-item {
								margin-bottom: 5px;
							}
							
							.evaluate li.list-group-item .media-body p a {
								text-decoration: none;
								color: black;
							}
							
							.evaluate li.list-group-item .media-body p a:hover {
								color: lightslategrey;
							}
							.assessment, hr {
								clear: both;
							}
							.checkbox3 label {
								word-wrap: break-word;
								word-break: break-all;
							}
						</style>
						<div class="panel-body evaluate">
							<li class="list-group-item">
								<h5 class="panel-header">第一部分：xxx</h5>
                                <div class="assessment">
                                    <div class="sub-title">问题一 我有能力克服各种困难：</div>
                                    <div class="sub-header">请选择一个和自己最切合的答案，但要尽可能少选中性答案，下同</div>
                                    <div>
                                    	<!-- input radio 的 name 用 題目的id，id用 題目的id+index不然可能起衝突 -->
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="radio1" name="radio1" value="option1">
                                          <label for="radio1">&nbsp;&nbsp;是的
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="radio2" name="radio1" value="option2">
                                          <label for="radio2">&nbsp;&nbsp;不一定
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="radio3" name="radio1" value="option3">
                                          <label for="radio3">&nbsp;&nbsp;不是的 
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="assessment">
                                    <div class="sub-title">问题二 如果我能到一个新的环境，我要把生活安排得</div>
                                    <div class="sub-header"></div>
                                    <div>
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-radio1" name="radio2" value="option1">
                                          <label for="2-radio1">&nbsp;&nbsp;和从前一样
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-radio2" name="radio2" value="option2">
                                          <label for="2-radio2">&nbsp;&nbsp;和从前相仿
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-radio3" name="radio2" value="option3">
                                          <label for="2-radio3">&nbsp;&nbsp;不一定 
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-radio4" name="radio2" value="option4">
                                          <label for="2-radio4">&nbsp;&nbsp;和从前不一样 
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="assessment"></div>
							</li>
							<li class="list-group-item">
								<h5 class="panel-header">第二部分：xxx</h5>
                                
                                <div class="assessment">
                                    <div class="sub-title">问题一 我有能力克服各种困难：</div>
                                    <div class="sub-header">请选择一个和自己最切合的答案，但要尽可能少选中性答案，下同</div>
                                    <div>
                                    	<!-- input radio 的 id 用 題目的id，不然可能起衝突 -->
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-1-radio1" name="radio3" value="option1">
                                          <label for="2-1-radio1">&nbsp;&nbsp;是的
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-1-radio2" name="radio3" value="option2">
                                          <label for="2-1-radio2">&nbsp;&nbsp;不一定
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-1-radio3" name="radio3" value="option3">
                                          <label for="2-1-radio3">&nbsp;&nbsp;不是的 
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="assessment">
                                    <div class="sub-title">问题二 如果我能到一个新的环境，我要把生活安排得</div>
                                    <div class="sub-header"></div>
                                    <div>
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-2-radio1" name="radio4" value="option1">
                                          <label for="2-2-radio1">&nbsp;&nbsp;和从前一样
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-2-radio2" name="radio4" value="option2">
                                          <label for="2-2-radio2">&nbsp;&nbsp;和从前相仿
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-2-radio3" name="radio4" value="option3">
                                          <label for="2-2-radio3">&nbsp;&nbsp;不一定 
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <input type="radio" id="2-2-radio4" name="radio4" value="option4">
                                          <label for="2-2-radio4">&nbsp;&nbsp;和从前不一样 
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="assessment"></div>
							</li>
						</div>
						<center>
							<a href="#" class="btn btn-danger">清空</a>
							<a href="#" class="btn btn-success">提交</a>
							<span class="checkbox3 checkbox-round" style="display: inline-block;">
							  <input type="checkbox" id="checkbox">
							  <label for="checkbox"> 匿名提交 </label>
							</span>
						</center>
						<footer class="text-center">
							<p>Copyright &copy; 2016.Company name All rights reserved.
								<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
							</p>
						</footer>
					</div>
					<!-- /. PAGE INNER  -->
				</div>
				<!-- /. PAGE WRAPPER  -->
			</div>
			<!-- /. WRAPPER  -->
			<!-- JS Scripts-->
			<!-- jQuery Js -->
			<script src="../../static/plugins/assets/js/jquery-1.10.2.js"></script>
			<!-- Bootstrap Js -->
			<script src="../../static/plugins/assets/js/bootstrap.min.js"></script>
			<!-- Chart Js -->
			<script src="../../static/plugins/assets/js/Chart.min.js"></script>
			<!-- my Js -->
			<script src="../../static/js/student/evaluate.js"></script>
	</body>

</html>