<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="student/header :: header"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="student/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
          <a href="score.html" th:href="@{/student/goQuestions/{id}/{token}(id=${question.id},token=${token})}">
            <i class="fa fa-dashboard"></i> 返回
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header"> [[${question.title}}]] &nbsp;&nbsp;&nbsp;<small>10回复 / 80分</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="" th:href="@{/student/login/{token}(token=${token})}">课程列表</a></li>
        <li>
          <a href="" th:href="@{/student/goScore/{id}/{token}(id=${scoreInfo.id},token=${token})}">
            [[${scoreInfo.scoreName}]]
          </a>
        </li>
        <li class="active">问答</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="panel panel-default">
        <style>
          .media p {
            padding-top: 0px;
          }

          .evaluate li.list-group-item {
            margin-bottom: 5px;
          }

          .evaluate li.list-group-item .media-body p a {
            text-decoration: none;
            color: black;
          }

          .evaluate li.list-group-item .media-body p a:hover {
            color: lightslategrey;
          }

          .evaluate li.list-group-item.child {
            margin-left: 5%;
          }
        </style>
        <div class="panel-body evaluate">
          <li class="list-group-item">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈...</p>
              </div>
            </div>
          </li>
          <li class="list-group-item child">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃...</p>
              </div>
            </div>
          </li>
          <li class="list-group-item child">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>
                  我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦噢噢噢噢噢oooooooooooooooooooooooooooooooooooooooooooooooooooooo噢噢噢噢噢噢噢噢噢噢噢哦哦哦噢噢噢噢噢噢噢噢噢噢噢噢噢...</p>
              </div>
            </div>
          </li>
          <li class="list-group-item child">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
              </div>
            </div>
          </li>
          <li class="list-group-item child">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
              </div>
            </div>
          </li>
          <li class="list-group-item child">
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object" height="50px" width="50px"
                     src="../../static/img/header.jpg" alt="还没有图片...">
                <span>用户名</span>
              </div>
              <div class="media-body">
                <p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
              </div>
            </div>
          </li>
        </div>
        <center>
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li><span><span aria-hidden="true">&laquo;</span></span>
              </li>
              <li class="active"><span>1 <span class="sr-only">(current)</span></span>
              </li>
              <li><span>2 <span class="sr-only">(current)</span></span>
              </li>
              <li><span><span aria-hidden="true">&raquo;</span></span>
              </li>
            </ul>
          </nav>
        </center>
      </div>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left media-middle">
            <center>
              <img class="media-object" height="50px" width="50px" src="../../static/img/header.jpg"
                   alt="还没有图片..."/>
              <span>欧文惠</span>
            </center>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
              <form class="panel-body" action="index.html">
                <div class="sub-header">回答或补充提问</div>
                <div class="sub-title">内容</div>
                <div>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="sub-title">
                  <a href="#" class="btn btn-danger">清空</a>
                  <a href="#" class="btn btn-success">提交</a>
                  <span class="checkbox3 checkbox-round">
												<input type="checkbox" id="checkbox"><label for="checkbox"> 匿名提交 </label>
											</span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>
    </div>
    <footer th:replace="include :: footer"></footer>
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../static/js/student/questions.js"
          th:src="@{/js/student/questions.js}"></script>
</th:block>
</body>

</html>