<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="student/header :: header"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="student/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="score.html" th:href="@{/student/goScore/{id}/{token}(id=${id},token=${token})}">
            <i class="fa fa-dashboard"></i> 返回
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header" data-id="" th:attr="data-id=${scoreInfo.id}">[[${scoreInfo.scoreName}]] 提问&nbsp;&nbsp;&nbsp;
        <small>[[${scoreInfo.questionCount}]]评 / <span id="evaluate">[[${scoreInfo.questionGrade}]]</span>分</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="" th:href="@{/student/login/{token}(token=${token})}">课程列表</a></li>
        <li>
          <a href="" th:href="@{/student/goScore/{id}/{token}(id=${scoreInfo.id},token=${token})}">
            [[${scoreInfo.scoreName}]]
          </a>
        </li>
        <li class="active">问答</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">

        <div class="col-sm-12">
          <div class="panel panel-default">
            <!--<div class="panel-heading">
              Basic Tabs
            </div>-->
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#all" data-toggle="tab">全部</a>
                </li>
                <li class="">
                  <a href="#perfect" data-toggle="tab">优</a>
                </li>
                <li class="">
                  <a href="#good" data-toggle="tab">良</a>
                </li>
                <li class="">
                  <a href="#medium" data-toggle="tab">中</a>
                </li>
                <li class="">
                  <a href="#dissatisfactory" data-toggle="tab">不够理想</a>
                </li>
                <li class="">
                  <a href="#notAnswer" data-toggle="tab">未答</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade active in" id="all">
                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="perfect">
                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想|未答</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="good">

                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想|未答</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="medium">

                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想|未答</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="dissatisfactory">
                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想|未答</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="notAnswer">
                  <div class="panel panel-default">
                    <style>
                      .media p {padding-top: 0px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
                      .evaluate li.list-group-item {margin-bottom: 5px;}
                      .evaluate li.list-group-item .media-body p a {text-decoration: none;color: black;}
                      .evaluate li.list-group-item .media-body p a:hover {color: lightslategrey;}
                    </style>
                    <div class="panel-body question">
                      <th:block th:each="page : ${#numbers.sequence(1, 8)}">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-left media-middle">
                              <center>
                                <img class="media-object" height="50px" width="50px"
                                     src="../../static/img/header.jpg" alt="还没有图片...">
                                <span>用户名</span>
                              </center>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading"><a href="question.html">title</a></h4>
                              <p>
                                <a href="question.html">1</a>
                              </p>
                              <div class="media-bottom text-success">评价：优|良|中|不够理想|未答</div>
                            </div>
                          </div>
                        </li>
                      </th:block>
                      <div class="row">
                        <center>
                          <nav aria-label="Page navigation">
                            <ul class="pagination">
                              <li>
                                <a href="javascript:void(0)" id="first">首页</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="back">&laquo;</a>
                              </li>
                              <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                                <li th:if="${page} eq 1" class="pageItem active" id="1">
                                  <a href="javascript:void(0)">1</a>
                                </li>
                                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                                  <a href="javascript:void(0)">[[${page}]]</a>
                                </li>
                              </th:block>
                              <li>
                                <a href="javascript:void(0)" id="nest">&raquo;</a>
                              </li>
                              <li>
                                <a href="javascript:void(0)" id="end">末页</a>
                              </li>
                            </ul>
                          </nav>
                        </center>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left media-middle">
            <center>
              <img class="media-object" height="50px" width="50px"
                   src="../../static/img/header.jpg" alt="还没有图片..."
                   th:src="@{${(#httpSession.getAttribute(token)).header}}"/>
              <span>[[${(#httpSession.getAttribute(token)).name}]]</span>
            </center>
          </div>
          <div class="media-body">
            <div class="panel panel-default">
              <form class="panel-body" data-timeline="" th:attr="data-timeline=${timeLine}">
                <div class="sub-title">标题</div>
                <div>
                  <input name="title" type="text" class="form-control" placeholder="标题，可不填" width="100%">
                </div>
                <div class="sub-title">问题</div>
                <div>
                  <textarea name="text" class="form-control" rows="3" required></textarea>
                </div>
                <div style="margin-top: 10px">
                  <button type="reset" class="btn btn-danger">清空</button>
                  <button type="submit" class="btn btn-success">提交</button>
                  <span class="checkbox3 checkbox-round">
                    <input name="flag" type="checkbox" id="checkbox">
                    <label for="checkbox"> 匿名提交 </label>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>
      <footer th:replace="include :: footer"></footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../static/js/student/questions.js"
          th:src="@{/js/student/questions.js}"></script>
</th:block>
</body>

</html>