<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="admin/header :: nav"></nav>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a th:href="@{/admin/login/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 专业列表</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/. NAV TOP  -->

  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header" th:attr="data-id=#{majorId}">专业信息</h1>
      <ol class="breadcrumb">
        <li>
          <a th:href="@{/admin/login/{token}(token=${token})}">专业列表</a>
        </li>
        <li class="active">专业信息</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="card-title">
                  <div class="title">专业信息</div>
                </div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="number" class="col-sm-2 control-label">专业编号：</label>
                    <div class="col-sm-6">
                      <input th:if="${major}" th:value="${major.number}" type="text"
                             class="form-control" pattern="[0-9]{5,10}" id="number" placeholder="专业编号"
                             required="required">
                      <input th:unless="${major}" type="text" class="form-control"
                             pattern="[0-9]{5,10}" id="number" placeholder="专业编号" required="required">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">专业名称：</label>
                    <div class="col-sm-6">
                      <input th:if="${major}" th:value="${major.name}"  type="text" class="form-control" id="name"
                             placeholder="专业名称" required="required">
                      <input th:unless="${major}" type="text" class="form-control" id="name"
                             placeholder="专业名称" required="required">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="schooling" class="col-sm-2 control-label">学制：</label>
                    <div class="col-sm-6">
                      <input th:if="${major}" th:value="${major.schooling}" type="text" class="form-control" id="schooling"
                             placeholder="学制" required="required" pattern="[0-9]{1,2}">
                      <input th:unless="${major}" type="text" class="form-control" id="schooling"
                             placeholder="学制" required="required" pattern="[0-9]{1,2}">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">确认</button>
                      <button type="reset" class="btn btn-warning">清空</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer th:replace="include :: footer"></footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script th:src="@{/js/admin/changeMajor.js}"></script>
</th:block>
</body>

</html>