<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>管理系统</title>
		<link href="../../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
		<link href="../../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
		<script type="text/javascript" src="../../static/js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="../../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">教学质量管理系统</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="javascrpit:void(0)">xxxxx， 欢迎您</a>
						</li>
						<li>
							<a href="#">退出系统</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<!--学生操作-->
					<ul class="nav nav-sidebar">
						<li class="active">
							<a href="">教务管理</a>
						</li>
						<li>
							<a href="">专业管理</a>
						</li>
						<li>
							<a href="">公告管理</a>
						</li>
						<li>
							<a href="">统计方案管理</a>
						</li>
						<li>
							<a href="">评价指标管理</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h4 class="page-header">教务管理</h4>
					<!--	<div class="row">-->
					<h5>个人信息</h5>
					<p>
						<table class="table">
							<tbody>
								<tr>
									<td width="70px">姓名：</td>
									<td>欧文惠</td>
									<td colspan="2">
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-info">修改信息</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>电话：</td>
									<td>xxxxxxxxxxx</td>
									<td width="70px">邮箱：</td>
									<td>xxxx@xx.com</td>
								</tr>
								<tr>
									<td>微信：</td>
									<td>暂无</td>
									<td>QQ：</td>
									<td>暂无</td>
								</tr>
							</tbody>
						</table>
					</p>
					<!--	</div>
					<div class="row">-->
					<h5 class="sub-header">教务人员管理
						<a href="javascript:void(0)" style="text-decoration: none; float: right;">
							<span class="label label-success">添加</span>
						</a>
					</h5>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>编号</th>
									<th>姓名</th>
									<th>性别</th>
									<th width="250px;">账号</th>
									<th width="200px;">密码</th>
									<th width="150px;">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1,001</td>
									<td>Lorem</td>
									<td>男</td>
									<td>18229202323</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,002</td>
									<td>amet</td>
									<td>男</td>
									<td>18223302323</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,003</td>
									<td>Integer</td>
									<td>女</td>
									<td>18229203223</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,003</td>
									<td>Integer</td>
									<td>女</td>
									<td>18229203223</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,003</td>
									<td>Integer</td>
									<td>女</td>
									<td>18229203223</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,003</td>
									<td>Integer</td>
									<td>女</td>
									<td>18229203223</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>
								<tr>
									<td>1,003</td>
									<td>Integer</td>
									<td>女</td>
									<td>18229203223</td>
									<td>******</td>
									<td>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-primary">修改</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-warning">删除</span>
										</a>
										<a href="javascript:void(0)" style="text-decoration: none;">
											<span class="label label-danger">重置密码</span>
										</a>
									</td>
								</tr>

							</tbody>
						</table>
						<center>
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li>
										<span>
       									 <span aria-hidden="true">&laquo;</span>
										</span>
									</li>
									<li class="active">
										<span>1 <span class="sr-only">(current)</span></span>
									</li>
									<li>
										<span>2 <span class="sr-only">(current)</span></span>
									</li>
									<li>
										<span>3 <span class="sr-only">(current)</span></span>
									</li>
									<li>
										<span>4 <span class="sr-only">(current)</span></span>
									</li>
									<li>
										<span>5 <span class="sr-only">(current)</span></span>
									</li>
									<li>
										<span>
       									 <span aria-hidden="true">&raquo;</span>
										</span>
									</li>
								</ul>
							</nav>
						</center>
					</div>
					<!--	</div>-->
				</div>
			</div>
		</div>
	</body>

</html>