<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jsu.rjxy.mappers.EvaluateMapper">
  <resultMap id="result" type="Evaluate">
    <id column="id" property="id"/>
    <result column="title" property="title"/>
    <result column="text" property="text"/>
    <result column="result" property="result"/>
    <result column="creater" property="creater"/>
    <result column="create_time" property="createTime"/>
    <result column="creater_type" property="createrType"/>
    <result column="flag" property="flag"/>
    <association property="scoreForTeacher" column="score_for_teacher" select="cn.edu.jsu.rjxy.mappers.ScoreForTeacherMapper.getById"/>
  </resultMap>

  <select id="getScoreEvaluates" resultType="Evaluate">
    SELECT e.*
    FROM evaluate e
      LEFT JOIN metadata s ON e.result=s.value AND s.key LIKE 'evaluate.%'
    WHERE e.score_for_teacher=#{scoreForTeacherId}
    <if test="type!=null"> AND s.key=CONCAT('evaluate.', #{type})</if>
    ORDER BY e.create_time DESC
    <if test="step!=null and size!=null">
    LIMIT #{step},#{size}
    </if>
  </select>

  <select id="getScoreEvaluatesCount" resultType="Integer">
    SELECT COUNT(*)
    FROM evaluate e
    LEFT JOIN metadata s ON e.result=s.value AND s.key LIKE 'evaluate.%'
    WHERE e.score_for_teacher=#{scoreForTeacherId}
    <if test="type!=null"> AND s.key=CONCAT('evaluate.', #{type})</if>
  </select>
</mapper>