<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jsu.rjxy.mappers.QuestionnaireForTeacherQuestionMapper">

  <resultMap id="result" type="QuestionnaireForTeacherQuestion">
    <id column="id" property="id" />
    <result column="questionnaire" property="questionnaireId" />
    <result column="coefficient" property="coefficient" />
    <association property="question" column="question" select="cn.edu.jsu.rjxy.mappers.QuestionnaireBankMapper.getById" />
  </resultMap>

  <insert id="insertQuestionnaireForTeacherQuestion">
    <foreach collection="questionIds" item="questionId" separator=";" close=" " open=" ">
      INSERT INTO questionnaire_for_teacher_questions(questionnaire, question, coefficient)
      VALUE (#{templateId}, #{questionId}, 1)
    </foreach>
  </insert>
</mapper>