<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jsu.rjxy.mappers.ReceiveMessageMapper">
  <resultMap id="ReceiveMessageMap" type="ReceiveMessage">
    <id column="id" property="id"/>
    <result column="recipient" property="recipient" />
    <result column="recipient_type" property="recipientType"/>
    <result column="flag" property="flag" javaType="boolean" />
    <association property="message" column="message" select="cn.edu.jsu.rjxy.mappers.MessageMapper.getById" />
  </resultMap>

  <select id="getMessagesByRecipientAndRecipientType" resultMap="ReceiveMessageMap">
    SELECT rm.* FROM receive_message rm
    LEFT JOIN message m ON rm.message=m.id
    WHERE rm.recipient=#{recipientId} AND rm.recipient_type=#{recipientType}
    <if test="flag!=null"> AND rm.flag=#{flag} </if>
    ORDER BY m.create_time
    <if test="step!=null and size!=null"> LIMIT #{step},#{size}</if>
  </select>

  <select id="getMessagesCountByRecipientAndRecipientTypeAndFlag" resultType="Integer">
    SELECT count(*) FROM receive_message
    WHERE recipient=#{recipientId} AND recipient_type=#{recipientType}
    <if test="flag!=null"> AND flag=#{flag} </if>
  </select>
</mapper>