<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.jsu.rjxy.mappers.ScoreForTeacherMapper">

  <resultMap id="ScoreForTeacherMap" type="ScoreForTeacher">
    <id column="id" property="id"/>
    <result column="result" property="result"/>
    <result column="evaluate_grade" property="evaluateGrade"/>
    <result column="evaluate_count" property="evaluateCount"/>
    <result column="question_grade" property="questionGrade"/>
    <result column="question_count" property="questionCount"/>
    <result column="assessment_grade" property="assessmentGrade"/>
    <result column="assessment_count" property="assessmentCount"/>
    <result property="remarks" column="remarks"/>
    <association property="score" column="score" select="cn.edu.jsu.rjxy.mappers.ScoreMapper.getById"/>
    <association property="teacher" column="teacher" select="cn.edu.jsu.rjxy.mappers.TeacherMapper.getById"/>
    <association property="stuForClass" column="class" select="cn.edu.jsu.rjxy.mappers.StuForClassMapper.getById"/>
  </resultMap>

  <select id="getScoresForClasses" resultMap="ScoreForTeacherMap">
    SELECT sft.* FROM score_for_teacher sft
    <if test="type!=null and search==null">
      LEFT JOIN score s ON sft.score=s.id
    </if>
    <if test="search!=null">
      LEFT JOIN score s ON sft.score=s.id
      LEFT JOIN teacher t ON sft.teacher=t.id
    </if>
    WHERE sft.class IN
    <foreach collection="classes" item="class" open="(" separator="," close=")">
      #{class.id}
    </foreach>
    <if test="type!=null and search==null">
      AND s.type=#{type}
    </if>
    <if test="search!=null">
      <if test="type!=null">AND s.type=#{type}</if>
      AND (s.type LIKE #{search} OR s.name LIKE #{search} OR t.name LIKE #{search} OR t.business LIKE #{search})
    </if>
    <if test="step!=null and size!=null">
      LIMIT #{step},#{size}
    </if>
  </select>

  <select id="getScoresCountForClasses" resultType="int">
    SELECT COUNT(*) FROM score_for_teacher sft
    <if test="type!=null and search==null">
      LEFT JOIN score s ON sft.score=s.id
    </if>
    <if test="search!=null">
      LEFT JOIN score s ON sft.score=s.id
      LEFT JOIN teacher t ON sft.teacher=t.id
    </if>
    WHERE sft.class IN
    <foreach collection="classes" item="class" open="(" separator="," close=")">
      #{class.id}
    </foreach>
    <if test="type!=null and search==null">
      AND s.type=#{type}
    </if>
    <if test="search!=null">
      <if test="type!=null">AND s.type=#{type}</if>
      AND (s.type LIKE #{search} OR s.name LIKE #{search} OR t.name LIKE #{search} OR t.business LIKE #{search})
    </if>
  </select>


  <select id="getScoresForTeacher" resultMap="ScoreForTeacherMap">
    SELECT sft.* FROM score_for_teacher sft
    <if test="type!=null and search==null">
      LEFT JOIN score s ON sft.score=s.id
    </if>
    <if test="search!=null">
      LEFT JOIN score s ON sft.score=s.id
      LEFT JOIN teacher t ON sft.teacher=t.id
    </if>
    WHERE sft.teacher=#{teacherId}
    <if test="type!=null and search==null">
      AND s.type=#{type}
    </if>
    <if test="search!=null">
      <if test="type!=null">AND s.type=#{type}</if>
      AND (s.type LIKE #{search} OR s.name LIKE #{search} OR t.name LIKE #{search} OR t.business LIKE #{search})
    </if>
    <if test="step!=null and size!=null">
      LIMIT #{step},#{size}
    </if>
  </select>

  <select id="getScoresCountForTeacher" resultType="int">
    SELECT COUNT(*) FROM score_for_teacher sft
    <if test="type!=null and search==null">
      LEFT JOIN score s ON sft.score=s.id
    </if>
    <if test="search!=null">
      LEFT JOIN score s ON sft.score=s.id
      LEFT JOIN teacher t ON sft.teacher=t.id
    </if>
    WHERE sft.teacher=#{teacherId}
    <if test="type!=null and search==null">
      AND s.type=#{type}
    </if>
    <if test="search!=null">
      <if test="type!=null">AND s.type=#{type}</if>
      AND (s.type LIKE #{search} OR s.name LIKE #{search} OR t.name LIKE #{search} OR t.business LIKE #{search})
    </if>
  </select>
</mapper>