<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>Bootstrap HTML5 Admin Template</title>
		<!-- Bootstrap Styles-->
		<link href="../../static/plugins/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../static/plugins/assets/css/font-awesome.css" rel="stylesheet" />
		<link href="../../static/plugins/assets/css/checkbox3.min.css" rel="stylesheet" >
		<!-- Custom Styles-->
		<link href="../../static/plugins/assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 教学质量管理系统</strong></a>
					<!--<div id="sideNav" href=""><i class="fa fa-bars icon"></i></div>-->
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="myScore.html"><i class="fa fa-dashboard"></i> 返回</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div class="header">
					<h1 class="page-header">Java 问卷调查报告</h1>
					<ol class="breadcrumb">
						<li>
							<a href="index.html">dashboard</a>
						</li>
						<li>
							<a href="myScores.html">scores</a>
						</li>
						<li>
							<a href="myScore.html">Java</a>
						</li>
						<li class="active">assessment</li>
					</ol>
				</div>
				<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									温馨提示
								</div>
								<div class="panel-body">
									您的评价很好，请继续保持
								</div>			
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default chartJs">
								<div class="panel-heading">
									近6个月问卷平均分分析
								</div>
								<div class="panel-body">
	                                <canvas id="line-chart" class="chart" style="padding-right: 2%;"></canvas>
								</div>			
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default chartJs">
								<div class="panel-heading">
									近6个月有效问卷统计(百分比)
								</div>
								<div class="panel-body">
	                                <canvas id="bar-chart" class="chart" style="padding-right: 10px;"></canvas>
								</div>			
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default chartJs">
								<div class="panel-heading">
									近6个月评价分析
								</div>
								<div class="panel-body">
	                                <canvas id="line-chart-1" class="chart" style="padding-right: 2%;"></canvas>
								</div>			
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default chartJs">
								<div class="panel-heading">
									近6个月答疑结果分析
								</div>
								<div class="panel-body">
	                                <canvas id="line-chart-2" class="chart" style="padding-right: 2%;"></canvas>
								</div>			
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<footer class="text-center">
							<p>Copyright &copy; 2018 欧文惠 2014级软件一班,
								<a target="_blank" href="http://rjxy.jsu.edu.cn/">吉首大学软件学院;</a>
							</p>
						</footer>
					</div>
					<!-- /. PAGE INNER  -->
				</div>
				<!-- /. PAGE WRAPPER  -->
			</div>
			<!-- /. WRAPPER  -->
			<!-- JS Scripts-->
			<!-- jQuery Js -->
			<script src="../../static/plugins/assets/js/jquery-1.10.2.js"></script>
			<!-- Bootstrap Js -->
			<script src="../../static/plugins/assets/js/bootstrap.min.js"></script>
			<!-- Metis Menu Js -->
			<script src="../../static/plugins/assets/js/jquery.metisMenu.js"></script>
			<!-- Chart Js -->
			<script src="../../static/plugins/assets/js/Chart.min.js"></script>
			<!-- my Js -->
			<script src="../../static/js/teacher/assessment.js"></script>
			<!-- Custom Js -->
			<!--<script src="../../static/plugins/assets/js/custom-scripts.js"></script>-->
	</body>

</html>