<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>Bootstrap HTML5 Admin Template</title>
		<!-- Bootstrap Styles-->
		<link href="../../static/plugins/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../static/plugins/assets/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="../../static/plugins/assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 教学质量管理系统</strong></a>
					<!--<div id="sideNav" href=""><i class="fa fa-bars icon"></i></div>-->
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="questions.html"><i class="fa fa-dashboard"></i> 返回</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div class="header">
					<h1 class="page-header"> title &nbsp;&nbsp;&nbsp;<small>10回复 / 80分</small></h1>
					<ol class="breadcrumb">
						<li>
							<a href="index.html">dashboard</a>
						</li>
						<li>
							<a href="scores.html">scores</a>
						</li>
						<li>
							<a href="score.html">Java</a>
						</li>
						<li>
							<a href="questions.html">questions</a>
						</li>
						<li class="active">question</li>
					</ol>
				</div>
				<div id="page-inner">
					<div class="panel panel-default">
						<style>
							.media p {
								padding-top: 0px;
							}
							
							.evaluate li.list-group-item {
								margin-bottom: 5px;
							}
							
							.evaluate li.list-group-item .media-body p a {
								text-decoration: none;
								color: black;
							}
							.evaluate li.list-group-item .media-body p a:hover {
								color: lightslategrey;
							}
							.evaluate li.list-group-item.child {
								margin-left: 5%;
							}
						</style>
						<div class="panel-body evaluate">
							<li class="list-group-item">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈...</p>
									</div>
								</div>
							</li>
							<li class="list-group-item child">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃呃...</p>
									</div>
								</div>
							</li>
							<li class="list-group-item child">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦噢噢噢噢噢oooooooooooooooooooooooooooooooooooooooooooooooooooooo噢噢噢噢噢噢噢噢噢噢噢哦哦哦噢噢噢噢噢噢噢噢噢噢噢噢噢...</p>
									</div>
								</div>
							</li>
							<li class="list-group-item child">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
									</div>
								</div>
							</li>
							<li class="list-group-item child">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
									</div>
								</div>
							</li>
							<li class="list-group-item child">
								<div class="media">
									<div class="media-left media-middle">
											<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片...">
											<span>用户名</span>
									</div>
									<div class="media-body">
										<p>我也不知道该写什么只是乱写而已为了凑字数好麻烦怎么办不知道写什么了好烦...</p>
									</div>
								</div>
							</li>
						</div>	
						<center>
							<nav aria-label="Page navigation">
								<ul class="pagination">
									<li><span><span aria-hidden="true">&laquo;</span></span>
									</li>
									<li class="active"><span>1 <span class="sr-only">(current)</span></span>
									</li>
									<li><span>2 <span class="sr-only">(current)</span></span>
									</li>
									<li><span><span aria-hidden="true">&raquo;</span></span>
									</li>
								</ul>
							</nav>
						</center>
					</div>
					<li class="list-group-item">
						<div class="media">
							<div class="media-left media-middle">
								<center>
									<img class="media-object" height="50px" width="50px" src="../../public/header.jpg" alt="还没有图片..." />
									<span>欧文惠</span>
								</center>
							</div>
							<div class="media-body">
								<div class="panel panel-default">
									<form class="panel-body" action="index.html">
										<div class="sub-header">回答或补充提问</div>
										<div class="sub-title">内容</div>
										<div>
											<textarea class="form-control" rows="3"></textarea>
										</div>
										<div class="sub-title">
											<a href="#" class="btn btn-danger">清空</a>
											<a href="#" class="btn btn-success">提交</a>
											<span class="checkbox3 checkbox-round">
												<input type="checkbox" id="checkbox"><label for="checkbox"> 匿名提交 </label>
											</span>
										</div>
									</form>
								</div>
							</div>
						</div>
					</li>
				</div>

				<footer class="text-center">
					<p>Copyright &copy; 2016.Company name All rights reserved.
						<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
					</p>
				</footer>
			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../../static/plugins/assets/js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../../static/plugins/assets/js/bootstrap.min.js"></script>
		<!-- Chart Js -->
		<script src="../../static/plugins/assets/js/Chart.min.js"></script>
		<!-- my Js -->
		<script src="../../static/js/student/evaluate.js"></script>
	</body>

</html>