<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="teacher/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="index.html" th:href="@{/teacher/login/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 课程列表</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header" data-id="" th:attr="data-id=${scoreInfo.id}">
        [[${scoreInfo.scoreName}]]
        <small>[[${scoreInfo.teacherName}]] [[${scoreInfo.teacherBusiness}]]</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="/teacher/login/{token}"
             th:href="@{/teacher/login/{token}(token=${token})}">课程列表</a>
        </li>
        <li class="active">[[${scoreInfo.scoreName}]]</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-lg-offset-2 col-lg-5 col-md-12">
          <!--   Basic Table  -->
          <div class="panel panel-default">
            <div class="panel-heading">课程信息</div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <style>
                    td {
                      border-bottom: 1px #ddd solid;
                    }
                  </style>
                  <tr>
                    <td width="7%">类型：</td>
                    <td width="18%" th:text="${scoreInfo.scoreTypeName}">必修</td>
                    <td width="7%">学分：</td>
                    <td width="18%" th:text="${scoreInfo.scoreCredit}">2.0</td>
                  </tr>
                  <tr>
                    <td>学时：</td>
                    <td th:text="${scoreInfo.scoreHours}">20课时</td>
                    <td>考核：</td>
                    <td th:text="${scoreInfo.scoreTestWay}">考试</td>
                  </tr>
                  <tr>
                    <td>其他信息：</td>
                    <td colspan="3">
                      <form>
                        <div class="col-md-10">
                        <textarea class="form-control" th:text="${scoreInfo.scoreRemarks}"></textarea>
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-success">修改</button>
                        </div>
                      </form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default chartJs" data-result="" th:attr="data-result=${scoreInfo.result}">
            <div class="panel-heading">
              <div class="card-title">
                <div class="title">课程评分</div>
              </div>
            </div>
            <div class="panel-body">
              <canvas id="radar-chart" class="chart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="row">
            <style>.number h4 {color: gray;}</style>
            <div class="col-lg-12 col-md-12">
              <div class="board">
                <div class="panel panel-primary">
                  <div class="number">
                    <h3>
                      <h4>答疑</h4>
                      <small>提问数 [[${scoreInfo.questionCount}]] <br/>评分 <span id="question">[[${scoreInfo.questionGrade}]]</span>
                      </small>
                    </h3>
                  </div>
                  <div class="icon">
                    <i class="fa fa-5x blue">
                      <span class="glyphicon glyphicon-question-sign"></span></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="board">
                <div class="panel panel-primary">
                  <div class="number">
                    <h3>
                      <h4>问卷</h4>
                      <small>问卷数 [[${scoreInfo.assessmentCount}]] <br/>评分 <span id="assessment">[[${scoreInfo.assessmentGrade}]]</span>
                      </small>
                    </h3>
                  </div>
                  <div class="icon">
                    <i class="fa fa-5x green">
                      <span class="glyphicon glyphicon-file"></span></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="board">
                <div class="panel panel-primary">
                  <div class="number">
                    <h3>
                      <h4>评价</h4>
                      <small>评价数 [[${scoreInfo.evaluateCount}]] <br/>评分 <span id="evaluate">[[${scoreInfo.evaluateGrade}]]</span>
                      </small>
                    </h3>
                  </div>
                  <div class="icon">
                    <i class="fa fa-5x yellow">
                      <span class="glyphicon glyphicon-thumbs-up"></span></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="include :: footer"></footer>
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../static/js/teacher/score.js" th:src="@{/js/teacher/score.js}"></script>
</th:block>
</body>

</html>