<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="register/header :: nav"></nav>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="index.html" th:href="@{/register/login/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 首页</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/. NAV TOP  -->

  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header">个人信息</h1>
      <ol class="breadcrumb">
        <li class="active">修改密码</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="card-title">
                  <div class="title">修改密码</div>
                </div>
              </div>
              <div class="panel-body">
                <form class="form-horizontal" id="password_form">
                  <div class="form-group">
                    <label for="old_password" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="old_password" placeholder="旧的密码" required="required">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="new_password" class="col-sm-2 control-label">新的密码：</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="new_password"
                             placeholder="新的密码" required="required" pattern="[0-9a-zA-Z]{6,12}">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="check_password" class="col-sm-2 control-label">确认密码：</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="check_password"
                             placeholder="请再输入一次" required="required" pattern="[0-9a-zA-Z]{6,12}">
                      <span></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">确认</button>
                      <button type="reset" class="btn btn-warning">清空</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer th:replace="include :: footer"></footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../static/js/register/change.js" th:src="@{/js/register/change.js}"></script>
</th:block>
</body>

</html>