<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<style>#wrapper {
	min-height: 540px !important;
}</style>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>Bootstrap HTML5 Admin Template</title>
		<!-- Bootstrap Styles-->
		<link href="../../static/plugins/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../static/plugins/assets/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="../../static/plugins/assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 教学质量管理系统</strong></a>
					<!--<div id="sideNav" href=""><i class="fa fa-bars icon"></i></div>-->
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<span style="color: gray;">20144206068 欧文惠 软件一班&nbsp;</span><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="info.html"><i class="fa fa-user fa-fw"></i> 用户信息</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="subjects.html"><i class="fa fa-dashboard"></i> 专业列表</a>
						</li>
						<li>
							<a href="scores.html"><i class="fa fa-desktop"></i> 题库</a>
						</li>
						<li>
							<a href="message.html"><i class="fa fa-desktop"></i> 公告</a>
						</li>
						<li>
							<a href="message.html"><i class="fa fa-desktop"></i> 举报列表</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div class="header">
					<h1 class="page-header">教学质量管理系统</h1>
					<ol class="breadcrumb">
						<li class="active">index</li>
					</ol>
				</div>
				<div id="page-inner">
					<div class="row">
						
	                    <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
							<div class="panel panel-success">
		                        <div class="panel-heading"> 快速开始 </div>
		                        <div class="panel-body">
		                            <p>欢迎登陆教学质量管理系统</p>
		                        	<p>在这里您可以：</p>
		                        	<div>
		                        		<ul>
		                        			<li>查看 <a href="subjects.html">专业列表</a>，列表中可以查看 教师 信息，并通过教师可以查看课程评价情况和发布问卷</li>
		                        			<li>查看和编辑 <a href="questionBank.html">题库</a>，在这里您可以查看题库，可以在题库中修改和添加题目</li>
		                        			<li>查看和编辑 <a href="message.html">公告</a>，这里您可以查看过去的公告，也可以发布新的公告，这些公告所有用户都可以看到，同时会发送给管理员审核，审核不通过的公告将会被删除</li>
		                        			<li>查看和操作 <a href="">举报列表</a>，这里是教师提交的评论举报，您可以在这里审核这些评论是否是有害的并给予处理</li>
		                        		</ul>
		                        	</div>
		                        </div>
		                        <div class="panel-footer"> 谢谢！ </div>
		                    </div>
	                    </div>
					</div>
					<footer class="text-center">
						<p>Copyright &copy; 2018 欧文惠 2014级软件一班,
							<a target="_blank" href="http://rjxy.jsu.edu.cn/">吉首大学软件学院;</a>
						</p>
					</footer>
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../../static/plugins/assets/js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../../static/plugins/assets/js/bootstrap.min.js"></script>

	</body>

</html>