<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<style>#wrapper {
	min-height: 540px !important;
}</style>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="" name="description" />
		<meta content="webthemez" name="author" />
		<title>Bootstrap HTML5 Admin Template</title>
		<!-- Bootstrap Styles-->
		<link href="../../static/plugins/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="../../static/plugins/assets/css/font-awesome.css" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="../../static/plugins/assets/css/custom-styles.css" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
		<link href="../../static/css/dashboard.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar navbar-default top-navbar" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="index.html"><strong><i class="icon fa fa-plane"></i> 教学质量管理系统</strong></a>
					<!--<div id="sideNav" href=""><i class="fa fa-bars icon"></i></div>-->
				</div>

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							<span style="color: gray;">20144206068 欧文惠 软件一班&nbsp;</span><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="info.html"><i class="fa fa-user fa-fw"></i> 用户信息</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
			</nav>
			<!--/. NAV TOP  -->
			<nav class="navbar-default navbar-side" role="navigation">
				<div class="sidebar-collapse">
					<ul class="nav" id="main-menu">
						<li>
							<a href="index.html"><i class="fa fa-dashboard"></i> 返回</a>
						</li>
						<li>
							<a href="template.html"><i class="fa fa-dashboard"></i> 问卷模板</a>
						</li>
						<li>
							<a href="questionBank.html"><i class="fa fa-dashboard"></i> 课堂表现</a>
						</li>
						<li>
							<a href="questionBank.html"><i class="fa fa-dashboard"></i> B</a>
						</li>
						<li>
							<a href="questionBank.html"><i class="fa fa-dashboard"></i> C</a>
						</li>
						<li>
							<a href="questionBank.html"><i class="fa fa-dashboard"></i> D</a>
						</li>
					</ul>
				</div>
			</nav>
			<!-- /. NAV SIDE  -->
			<div id="page-wrapper">
				<div class="header">
					<h1 class="page-header">教学质量管理系统</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">首页</a></li>
						<li class="active">题库</li>
						<li class="active">课堂表现</li>
					</ol>
				</div>
				<div id="page-inner">
					<div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="card-title">
                                <div class="title">课堂表现</div>
                            </div>
                        </div>
                        <style>
                        	.list-group-item {
                        		margin-bottom: 10px;
                        	}
                        </style>
						<div class="panel-body evaluate">
							<ul class="list-group">
								<li class="list-group-item">
									<a href="questionAdd.html" class="btn btn-primary">添加题目</a>
									<a href="javascript:void(0)" class="btn btn-success">导入题目文件</a>
								</li>
								<li class="list-group-item">
                                    <div class="sub-title">question id: 我有能力克服各种困难：</div>
                                    <div class="sub-header">请选择一个和自己最切合的答案，但要尽可能少选中性答案，下同</div>
                                    <div class="row">
                                    	<!-- input radio 的 name 用 題目的id，id用 題目的id+index不然可能起衝突 -->
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <label for="radio1">&nbsp;&nbsp;是的
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <label for="radio2">&nbsp;&nbsp;不一定
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <label for="radio3">&nbsp;&nbsp;不是的 
                                          </label>
                                        </div>
                                    </div>
								</li>
								<li class="list-group-item">
									<div class="sub-title">question id: 如果我能到一个新的环境，我要把生活安排得</div>
	                                <div class="sub-header"></div>
                                    <div class="row">
                                    	<div class="radio3 col-sm-12 col-lg-6">
                                          <label for="2-radio1">&nbsp;&nbsp;和从前一样
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <label for="2-radio2">&nbsp;&nbsp;和从前相仿
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <label for="2-radio3">&nbsp;&nbsp;不一定 
                                          </label>
                                        </div>
                                        <div class="radio3 col-sm-12 col-lg-6">
                                          <label for="2-radio4">&nbsp;&nbsp;和从前不一样 
                                          </label>
                                        </div>
                                    </div>
								</li>
							</ul>
							<center>
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li><span><span aria-hidden="true">&laquo;</span></span>
										</li>
										<li class="active"><span>1 <span class="sr-only">(current)</span></span>
										</li>
										<li><span>2 <span class="sr-only">(current)</span></span>
										</li>
										<li><span><span aria-hidden="true">&raquo;</span></span>
										</li>
									</ul>
								</nav>
							</center>
						</div>
					</div>

					<footer class="text-center">
						<p>Copyright &copy; 2018 欧文惠 2014级软件一班,
							<a target="_blank" href="http://rjxy.jsu.edu.cn/">吉首大学软件学院;</a>
						</p>
					</footer>
				</div>
				<!-- /. PAGE INNER  -->
			</div>
			<!-- /. PAGE WRAPPER  -->
		</div>
		<!-- /. WRAPPER  -->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="../../static/plugins/assets/js/jquery-1.10.2.js"></script>
		<!-- Bootstrap Js -->
		<script src="../../static/plugins/assets/js/bootstrap.min.js"></script>

	</body>

</html>