<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="register/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="" th:href="@{/register/majors/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 专业列表
          </a>
        </li>
        <li>
          <a href="" th:href="@{/register/goQuestionnaire/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 题库
          </a>
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard"></i> 举报</a>
        </li>
        <li>
          <a href="index.html"><i class="fa fa-dashboard"></i> 公告</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header">举报信息列表</h1>
      <ol class="breadcrumb">
        <li class="active">举报信息列表</li>
      </ol>
    </div>
    <div class="row" style="width: 100%">
      <div class="col-md-offset-2 col-md-8">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-heading"> 举报信息列表
          </div>
          <div class="panel-body">
            <div class="table-responsive" style="margin-top: 10px;">
              <style>
                .table-hover tr td {
                  cursor: pointer;
                }
              </style>
              <table class="table table-hover" id="dataTables-example">
                <thead>
                <tr>
                  <th>#</th>
                  <th>内容</th>
                  <th>举报原因</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="page,iterState : ${#numbers.sequence(1, 12)}">
                  <tr>
                    <td class="report">[[${iterState.count}]]</td>
                    <td class="content">content</td>
                    <td class="reason">reason</td>
                    <td width="120px;">
                      <a class="allow text-danger">处理</a>&nbsp;&nbsp;&nbsp;
                      <a class="notAllowed text-info">略过</a>
                    </td>
                  </tr>
                </th:block>
                </tbody>
              </table>
            </div>
            <div class="row">
              <center>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="javascript:void(0)" id="first">首页</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" id="back">&laquo;</a>
                    </li>
                    <th:block th:each="page : ${#numbers.sequence(1, 5)}">
                      <li th:if="${page} eq 1" class="pageItem active" id="1">
                        <a href="javascript:void(0)">1</a>
                      </li>
                      <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                        <a href="javascript:void(0)">[[${page}]]</a>
                      </li>
                    </th:block>
                    <li>
                      <a href="javascript:void(0)" id="nest">&raquo;</a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" id="end">末页</a>
                    </li>
                  </ul>
                </nav>
              </center>
            </div>
          </div>
        </div>
        <!--End Advanced Tables -->
        <div style="clear: both"></div>
        <footer th:replace="include :: footer"></footer>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- /. WRAPPER  -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../../static/js/register/teachers.js" th:src="@{/js/register/report.js}"></script>
</th:block>
</body>

</html>