<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="register/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a href="/teacher/login/{token}"
             th:href="@{/register/teacherList/{majorId}/{token}(majorId=${teacher.major.id},token=${token})}"><i
              class="fa fa-desktop"></i>返回</a>
        </li>
        <li>
          <a href="scores.html"><i class="fa fa-sitemap"></i> 课程列表<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#" data-score-type="all">
                全部课程
              </a>
            </li>
            <th:block th:each="scoreType,iterStat : ${scoreTypes}">
              <li>
                <a href="#" data-score-type="" th:attr="data-score-type=${scoreType.id}">
                  [[${scoreType.name}]]
                </a>
              </li>
            </th:block>
            <li>
              <form method="post" action="javascript:void(0)" class="form-inline" id="search_form"
                    style="margin: 10px 0 10px 5px;">
                <div class="form-group">
                  <input style="width: 160px;" type="text" class="form-control" id="search"
                         placeholder="请输入课程名称...">
                  <!--<span class="input-group-btn">-->
                  <button type="submit" class="btn btn-default">搜索</button>
                  <!--</span>-->
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header" data-id="" th:attr="data-id=${teacher.id}">课程列表</h1>
      <ol class="breadcrumb">
        <li>
          <a href="" th:href="@{/register/login/{token}(token=${token})}">专业列表</a>
        </li>
        <li>
          <a href=""
             th:href="@{/register/teacherList/{majorId}/{token}(majorId=${teacher.major.id},token=${token})}">
            [[${teacher.major.name}]]·教师列表
          </a>
        </li>
        <li class="active">[[${teacher.name}]]·课程列表</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="row">
        <div class="col-sm-6 col-md-offset-1 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-offset-1 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-offset-1 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-offset-1 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 scoreItem">
          <div class="board">
            <div class="panel panel-primary">
              <div class="col-md-3">
                <h4 style="margin-top: 5px"><a href="score.html">Java</a></h4>
                <h6>
                  <small>专业必修</small>
                </h6>
                <h5>xxxx<br/>
                  <small>讲师</small>
                </h5>
              </div>
              <div class="col-md-9">
                <center>
                  <canvas class="chart"></canvas>
                </center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" th:if="${scoreCount}">
        <center>
          <nav aria-label="Page navigation">
            <ul class="pagination" data-count="1" th:attr="data-count=${scoreCount}">
              <li>
                <a href="javascript:void(0)" id="back">&laquo;</a>
              </li>
              <th:block th:each="page : ${#numbers.sequence(1, scoreCount)}">
                <li th:if="${page} eq 1" class="pageItem active" id="1">
                  <a href="javascript:void(0)">1</a>
                </li>
                <li th:if="${page} ge 2" class="pageItem" id="2" th:id="${page}">
                  <a href="javascript:void(0)">[[${page}]]</a>
                </li>
              </th:block>
              <li>
                <a href="javascript:void(0)" id="nest">&raquo;</a>
              </li>
            </ul>
          </nav>
        </center>
      </div>
      <footer th:replace="include :: footer"></footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- /. WRAPPER  -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script src="../../static/js/register/scores.js" th:src="@{/js/register/scores.js}"></script>
</th:block>
</body>

</html>