<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="include :: header(~{})"></head>

<body data-token="" th:attr="data-token=${token}">
<div id="wrapper">
  <nav class="navbar navbar-default top-navbar" role="navigation"
       th:replace="register/header :: nav"></nav>
  <!--/. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li>
          <a th:href="@{/register/template/goTemplate/{token}(token=${token})}">
            <i class="fa fa-dashboard"></i> 返回
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
    <div class="header">
      <h1 class="page-header" data-id="" th:attr="data-id=${template.id}">问卷模板</h1>
      <ol class="breadcrumb">
        <li>
          <a th:href="@{/register/template/goTemplate/{token}(token=${token})}">问卷模板</a>
        </li>
        <li class="active">[[${template.name}]]</li>
      </ol>
    </div>
    <div id="page-inner">
      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="card-title">
            <div class="title">
              <form class="form-inline" id="template">
                <div class="form-group">
                  <input type="text" class="form-control template" name="name"
                         placeholder="请输入题目类别名称..." required="required"
                         th:value="${template.name}"
                  />
                </div>
                <button type="submit" class="btn btn-primary">修改</button>
              </form>
            </div>
          </div>
        </div>
        <style>
          .media p {
            padding-top: 0px;
          }

          .evaluate li.list-group-item {
            margin-bottom: 5px;
          }

          .evaluate li.list-group-item .media-body p a {
            text-decoration: none;
            color: black;
          }

          .evaluate li.list-group-item .media-body p a:hover {
            color: lightslategrey;
          }

          .assessment, hr {
            clear: both;
          }

          .checkbox3 label {
            word-wrap: break-word;
            word-break: break-all;
          }
        </style>
        <div class="panel-body evaluate">
          <form method="post" action="" id="coefficient">
            <th:block th:each="type,typeStat : ${types}">
              <li class="list-group-item">
                <h5 class="panel-header">第[[${typeStat.count}]]部分：[[${type.name}]]</h5>
                <th:block th:each="question,questionStat : ${questions}">
                  <div class="assessment" th:if="${type.id eq question.question.type.id}">
                    <div class="sub-title">[[${questionStat.count}]]
                      [[${question.question.title}]]
                    </div>
                    <div class="sub-header remarks">[[${question.question.remarks}]]</div>
                    <div class="answer" style="margin-top: 5px;">
                      <div class="a" th:if="${question.question.resultA}">
                        <label>&nbsp;&nbsp;([[${#numbers.formatInteger(question.question.resultA,
                          2)}]]') A</label>
                        &nbsp;&nbsp;[[${question.question.contentA}]]
                      </div>
                      <div class="b" th:if="${question.question.resultB}">
                        <label>&nbsp;&nbsp;([[${#numbers.formatInteger(question.question.resultB,
                          2)}]]') B</label>
                        &nbsp;&nbsp;[[${question.question.contentB}]]
                      </div>
                      <div class="c" th:if="${question.question.resultC}">
                        <label>&nbsp;&nbsp;([[${#numbers.formatInteger(question.question.resultC,
                          2)}]]') C</label>
                        &nbsp;&nbsp;[[${question.question.contentC}]]
                      </div>
                      <div class="d" th:if="${question.question.resultC}">
                        <label>&nbsp;&nbsp;([[${#numbers.formatInteger(question.question.resultD,
                          2)}]]') D</label>
                        &nbsp;&nbsp;[[${question.question.contentD}]]
                      </div>
                    </div>
                    <div class="sub-header coefficient">
                      <div class="col-md-2">
                        <div class="input-group">
                          <span class="input-group-addon">成绩系数：</span>
                          <select class="form-control" name="coefficient" data-id=""
                                  th:data-id="${question.id}">
                            <th:block th:if="${question.coefficient eq 1}">
                              <option value="1.0" selected>1.0</option>
                              <option value="0.5">0.5</option>
                            </th:block>
                            <th:block th:unless="${question.coefficient eq 1}">
                              <option value="1.0">1.0</option>
                              <option value="0.5" selected>0.5</option>
                            </th:block>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="sub-footer">
                      <button type="button" data-id="" th:attr="data-id=${question.id}"
                              class="btn btn-warning change-question">换题</button>
                      <button type="button" data-id="" th:attr="data-id=${question.id}"
                              class="btn btn-danger remove-question">移除</button>
                    </div>
                    <div style="clear: both;"></div>
                  </div>
                  <hr th:if="${type.id eq question.question.type.id}"/>
                </th:block>
                <div class="assessment"></div>
              </li>
            </th:block>
            <center>
              <button type="submit" class="btn btn-success">修改</button>
            </center>
          </form>
        </div>
      </div>
      <footer th:replace="include :: footer"></footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<th:block th:replace="include :: scripte_domain(~{::script})">
  <!-- My Js -->
  <script th:src="@{/js/register/templateQuestion.js}"></script>
</th:block>

</body>

</html>