<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="text-center" th:fragment="footer">
  <p>Copyright &copy; 2018 欧文惠 2014级软件一班,
    <a target="_blank" href="http://rjxy.jsu.edu.cn/">吉首大学软件学院;</a>
  </p>
</footer>
</body>
<th:block th:fragment="scripte_domain(scripts)">
  <script src="../../static/plugins/assets/js/jquery-1.10.2.js"
          th:src="@{/plugins/assets/js/jquery-1.10.2.js}"></script>
  <!-- Bootstrap Js -->
  <script src="../../static/plugins/assets/js/bootstrap.min.js"
          th:src="@{/plugins/assets/js/bootstrap.min.js}"></script>
  <!-- Metis Menu Js -->
  <script src="../../static/plugins/assets/js/jquery.metisMenu.js"
          th:src="@{/plugins/assets/js/jquery.metisMenu.js}"></script>
  <!-- Chart Js -->
  <script src="../../static/plugins/assets/js/chart.min.js"
          th:src="@{/plugins/assets/js/chart.min.js}"></script>
  <!-- My Js -->
  <th:block th:replace="${scripts}" />
  <!-- Custom Js -->
  <script src="../../static/plugins/assets/js/custom-scripts.js"
          th:src="@{/plugins/assets/js/custom-scripts.js}"></script>
</th:block>
</html>